<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body class="black" id="menuPage">
<script src="js/menu.js"></script>
<header>
    {{> navbar}}
</header>
<section>
    <div id="menu" class="content">
        <h1>the menu</h1>
        <div class="menu-heading">
            <a href="javascript:void(0)" onclick="openMenu(event, 'starter');" id="selected">
                <div class="menu-category black">Starter</div>
            </a>
            <a href="javascript:void(0)" onclick="openMenu(event, 'main');">
                <div class="menu-category black">Main</div>
            </a>
            <a href="javascript:void(0)" onclick="openMenu(event, 'dessert');">
                <div class="menu-category black">Dessert</div>
            </a>
        </div>
        <div class="white padding-30" id="menuBox">
            <div class="right">
                <span>Sort by price: </span>
                <button id="low-to-high-sort" onclick="sortingEvent('<')">&uarr;</button>
                <button id="high-to-low-sort" onclick="sortingEvent('>')">&darr;</button>
            </div>
            <div id="starter" class="menu content">
                {{#each starter}}
                    <div class="menu-item-starter">
                        <h1><b class="left">{{this.name}}</b> <span class="right price">{{this.price}}</span></h1>
                        <p>{{this.description}}</p>
                        <hr>
                    </div>
                {{/each}}
            </div>
            <div id="main" class="menu content">
                {{#each main}}
                    <div class="menu-item-main">
                        <h1><b class="left">{{this.name}}</b> <span class="right price">{{this.price}}</span></h1>
                        <p>{{this.description}}</p>
                        <hr>
                    </div>
                {{/each}}
            </div>
            <div id="dessert" class="menu content">
                {{#each desserts}}
                    <div class="menu-item-dessert">
                        <h1><b class="left">{{this.name}}</b> <span class="right price">{{this.price}}</span></h1>
                        <p>{{this.description}}</p>
                        <hr>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>


{{> footer}}

</body>
</html>